<p style="color: green"><%= notice %></p>

<h1>Todolist List</h1>

<div id="todolists">
  <% @todolists.each do |todolist| %>
    <%= render todolist %>
    <p>
      <%= link_to "Show this Todolist list", todolist %>
    </p>
  <% end %>
</div>

<%= link_to "New todolist", new_todo_list_path %>
